@model IEnumerable<WebAnimales.Models.Animales>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Propietario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Raza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Propietario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnimalesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnimalesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnimalesID })
        </td>
    </tr>
}

</table>
